<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<h1><%= @console.name %><h1>

<h2>Games</h2>
<ul>
<% @games.each do |g| %>
    <% if g.users.include?(current_user) %>
    <li><%= g.title %>
    <form action="/games/<%= g.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="console_id" value="<%= @console.id %>">
        <input type="submit" value="Remove">
    </form>
    </li>
    <% end %>
<% end %>
</ul>
<p>Add Game:</p>

<form action="/games" method="post">
    <select name="title">
        <% @games.each do |g| %>
            <% if !g.users.include?(current_user) %>
                <option name="title"><%= g.title %></option>
            <% end %>
        <% end %>
        <option name="title">Create Game</option>
    </select>
    <label for="game">Add New Game</label>
    <input type="text" name="title_add" placeholder="Game Title">
    <input type="hidden" name="console_id" value="<%= @console.id %>">
    <input type="submit" value="Add Game">
</form>

<form action="/consoles/<%= @console.id %>/edit" method="get">
    <input type="submit" value="Edit">
</form>

<form action="/consoles/<%= @console.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>

<a href="/consoles">Back to Console List</a><br><br>
<a href="/logout">Log Out</a>

