<div style="margin: auto; width: 60%;">
    <div class="row">
        <div class="col-md-6">
            <h1>Console: <%= @console.name %></h1><br>

            <form action="/consoles/<%= @console.id %>/delete" method="post">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <a href="/consoles/<%= @console.id %>/edit" class="btn btn-default"> Edit Console </a>
                <input type="submit" value="Delete Console" class="btn btn-default">
            </form>
            <br><br>
            <h3>Add Game:</h3>
            <p>Choose from the list, or select "Create Game" and type in the title.</p>

            <form action="/games" method="post">
                <select name="title">
                    <option name="title">Create Game</option>
                    <% @games.each do |g| %>
                        <% if !g.users.include?(current_user) %>
                            <option name="title"><%= g.title %></option>
                        <% end %>
                    <% end %>
                </select>
                <label for="game">Add New Game</label>
                <input type="text" name="title_add" placeholder="Game Title">
                <input type="hidden" name="console_id" value="<%= @console.id %>">
                <input type="submit" value="Add Game" class="btn btn-default">
            </form>
            <br><br><br><br><br>
            <a href="/consoles">Back to Console List</a><br>
            <a href="/logout">Log Out</a>
        </div>
        <div class="col-sm-6">
            <h2>Your Games:</h2><br>
            <ul>
                <% @games.each do |g| %>
                    <% if g.users.include?(current_user) %>
                        <div class="row">
                            <form class="form-inline" action="/games/<%= g.id %>/delete" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <div class="col-md-8">
                                    <label for="none"><%= g.title %></label>
                                </div>
                                <div class="col-xs-2">
                                    <input type="hidden" name="console_id" value="<%= @console.id %>">
                                    <input type="submit" class="btn btn-danger btn-xs " value="Remove">
                                </div>
                            </form>
                        </div>
                        <hr>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>




